html {
	background-color: white;
	font-family: sans-serif;
}

html, body, #pageContainer {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.styled-input {
	-webkit-appearance: none;
	appearance: none;
	box-shadow: 0px 5px 9px #00000024;
	padding: 5px 10px;
	border-radius: 7px;
	color: black;
}

.styled-input:focus-visible {
	border: 1px solid #5db2ff;
	outline: none;
}

input.styled-input {
	border: 1px solid #efefef;
	background-color: white;
}
button.styled-input {
	background: #e3e3e3;
	border: 1px solid #dbdbdb;
	cursor: pointer;
}
button.styled-input:hover {
	background: #e9e7e7;
}
button.styled-input:active {
	background: #dfdddd;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#pageContainer {
	display: flex;
	padding: 40px;
	padding-top: 20px;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
}

iframe {
	border: 1px solid #e9e9e9;
	flex-grow: 1;
	box-shadow: 0px 17px 20px #00000036;
}

form {
	display: flex;
	justify-content: center;
	gap: 10px;
	font-size: 1.5rem;
}

form input,
form button {
	font-size: 1em;
}

form input {
	width: 50vw;
	max-width: 600px;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 20px;
	font-size: 9pt;
}

.footer a {
	color: #696969;
}

@media(prefers-color-scheme: dark){
	html {
		background-color: rgb(28, 28, 28);
	}

	.styled-input {
		color: white;
	}

	input.styled-input {
		border: 1px solid #232323;
		background-color: #101010;
	}
	button.styled-input {
		background: #454545;
		border: 1px solid #434343;
	}
	button.styled-input:hover {
		background: #4b4b4b;
	}
	button.styled-input:active {
		background: #414141;
	}

	iframe {
		border: 1px solid #161616;
	}

	.footer a {
		color: #919191;
	}
}
